{% extends 'car/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<ul>
    {% for p in posts %}
    <li>
        <h2>{{p.title}}</h2>
        <p>{{p.content}}</p>
        {% autoescape on %}

	{% endautoescape %}
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
    </li>
    {% endfor %}
</ul>
    {% endblock %}





<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1> o saite</h1>
<ul>
    {% for m in menu %}
    <li>{{m}}</li>
    {% endfor %}
</ul>
</body>
</html>-->